	
<tr>
	<td><%= product.name %></td>
	<td><%= product.description %></td>
	<td><%= product.formatted_price %></td>
	<td><a href="/products/<%=product.id%>">View</a></td> 
	<td><a href="/products/<%=product.id%>/edit">Edit</a></td>  
	<td><a href="/products/<%=product.id%>">Delete</a></td>
</tr>
		


